html{
background-color: #F58858;
}
head{
  text-align: center;

}
body{
  text-align: center;
}
/*div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
*/
h1{
  font-size: 90px;
  margin: 2em 1em 20px 1em; /*top right bottom left*/
padding: 20px 1px 20px 1px;
  border-top: 1em;
  outline-color: #000000;
  background-color: #E55C5C;
  font-family: 'Merriweather', serif;
  outline-width: 1em;
}

h2{
  font-size: 19px;
margin: 0em 2em 4em 1em;
outline-color: #000000;
font-family: 'Josefin Sans', sans-serif;
  Background-color: #F7885C;
  padding: 1em 1em 5em 1em;
}

h3{
font-size: 15px;
margin: 0px 0px 0px 0px;
outline-color: #000000;
font-family: 'Merriweather', serif;
  background-color: #FCDF54;
  padding: 2em 0em 2em 0em;
  outline-width: 1em;



}
body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  margin: 1em 1em 1em 1em;
}

  img.resize {
  max-width: 4em;}

img{
  margin: 1em 1em 1em 1em;
}

img.fluid {

}
/*image website for uploading https://postimg.cc/XBy6qtpk/88535714*/
